.nav-container{
    height: 60px;
    background: transparent;

    .wrapper{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .nav-left{
            flex: 1;
            display: flex;
            align-items: center;

            &__logo{
                &:hover{
                    color: white;
                    display: block;
                }
            }
        }

        .nav-right{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            &__sesiones{
                display: flex;
                align-items: center;
                margin-left: 25px;
                padding: 5px;
                justify-content: space-between;
                li {
                    height: 100%;
                    @media screen and (max-width: 968px) {
                        width: 100%;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover{
                            background-color: #cf7622;
                        }
                    }
                }
                &__link{
                    margin-left: 25px;
                    &:hover{
                        color: rgba($color: #ffffff, $alpha: 0.8);
                    }
                    @media screen and (max-width: 968px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                @media screen and (max-width: 968px) {
                    background-color: #23394d;
                    position: absolute;
                    color: #fff;
                    top: 40px;
                    right: 0;
                    width: 100%;
                    height: calc(100vh - 40px);
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    transition: 0.5s all ease;
                    z-index: 100;
                }
            }

            &__sesiones-active{
                display: flex;
                align-items: center;
                margin-left: 25px;
                padding: 5px;
                justify-content: space-between;
                li {
                    height: 100%;
                    @media screen and (max-width: 968px) {
                        width: 100%;
                        height: 70px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover{
                            background-color: #cf7622;
                        }
                    }
                }
                &__link{
                    margin-left: 25px;
                    &:hover{
                        color: rgba($color: #ffffff, $alpha: 0.8);
                    }
                    @media screen and (max-width: 968px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                @media screen and (max-width: 968px) {
                    background-color: #23394d;
                    position: absolute;
                    color: #fff;
                    top: -1000px;
                    right: 0;
                    width: 100%;
                    height: calc(100vh - 40px);
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    transition: 0.5s all ease;
                    z-index: 100;
                }
            }

            &__menu{
                display: none;
                @media screen and (max-width: 968px) {
                    display: flex;
                    align-items: center;
                    cursor: pointer;


                }
            }
        }

        .active{
            color: white;
        }

    }
}



